<p>Das Konto von {{account.givenName}} {{account.surname}} wurde gelöscht.
Die vereinbarte Rikschafahrt vom {{ad.date}} um {{ad.startTime}} findet dadurch unter Umständen nicht mehr statt.
Bitte kontaktieren Sie diesbezüglich die Nutzerin / den Nutzer unter:
</p>

<table>
    <tbody>
    <tr><td>E-Mail</td><td><a href="mailto:{{account.email}}">{{account.email}}</a></td></tr>
    <tr><td>Telefonnummer</td><td><a href="tel:{{account.phone}}">{{account.phone}}</a></td></tr>
    </tbody>
</table>

<p>Sollten Sie niemanden erreichen, melden Sie sich gerne unter <a href="mailto:seniorenbeirat.delbrueck@gmail.com">seniorenbeirat.delbrueck@gmail.com</a> oder <a href="tel:05250930069">05250-930069</a></p>
