<table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailFooter">
    <tr>
        <td class="footer" valign="top">
            <span class="orange">Stadt Delbrück</span><br />
            <span>Lange Straße 45<br>
                    33129 Delbrück<br>
                    E-Mail: <a href="mailto:info@dasnez.de" target="_blank">info@dasnez.de</a><br>
                    Domain: <a href="https://www.stadt-delbrueck.de" target="_blank">www.stadt-delbrueck.de</a><br>
                    <br>
                </span>

            <span class="tiny">
                    Diese E-Mail enthaelt vertrauliche und/oder rechtlich geschuetzte Informationen. Wenn Sie nicht der
                    richtige Adressat sind oder diese E-Mail irrtuemlich erhalten haben, informieren Sie bitte sofort
                    den Absender und vernichten Sie diese Mail. Das unerlaubte Kopieren sowie die unbefugte Weitergabe
                    dieser Mail ist nicht gestattet. Die Sicherheit von E-Mail-Übermittlungen kann nicht garantiert
                    werden.
                    <br><br>
                    This e-mail may contain confidential and/or privileged information. If you are not the intended
                    recipient (or have received this e-mail in error) please notify the sender immediately and destroy
                    this e-mail. Any unauthorized copying, disclosure or distribution of the material in this e-mail is
                    strictly forbidden. The confidentiality of e-mail cannot be guaranteed.
                </span>

        </td>
    </tr>
</table>