<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no"/> <!-- disable auto telephone linking in iOS -->
    <title>Mail von Stadt Delbrück</title>
    {{>head}}
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr mc:hideable>
        <td valign="top">
            <img src="https://s3.eu-central-1.amazonaws.com/mail.assets.dasnez/logo.png"
                 class="flexibleImage logo" alt="Stadt Delbrück Logo" title="Stadt Delbrück Logo"/>
        </td>
    </tr>

    <tr mc:hideable>
        <td valign="top">
            <h1>
                {{title}}
            </h1>
        </td>
    </tr>
    <tr>
        <td valign="top" width="100%" class="flexibleContainerCell">
            <p>
                {{{content}}}
            </p>
        </td>

        </td>
    </tr>
    {{#buttonText}}
    <tr>
        <td valign="middle" class="buttonContent">
            <a class="btn max400" href="{{{buttonLink}}}" target="_blank">{{buttonText}}</a>
        </td>
    </tr>
    {{/buttonText}}

</table>

{{>footer}}

</body>

</html>