<p>
{{acceptedBy.givenName}} {{acceptedBy.surname}} möchte Ihr Angebot am {{date}} um {{startTime}} bis {{endTime}} annehmen. So können Sie sie/ihn erreichen:
</p>
<table>
    <tbody>
        <tr><td>E-Mail</td><td><a href="mailto:{{acceptedBy.email}}">{{acceptedBy.email}}</td></tr>
        <tr><td>Telefonnummer</td><td><a href="tel:{{acceptedBy.phone}}">{{acceptedBy.phone}}</td></tr>
    </tbody>
</table>

<p>
    Um die Rikscha-Übergabe zu vereinbaren, melden Sie sich bitte unter:
</p>
<table>
    <tbody>
    <tr><td>E-Mail</td><td><a href="mailto:seniorenbeirat.delbrueck@gmail.com">seniorenbeirat.delbrueck@gmail.com</a></td></tr>
    <tr><td>Telefonnummer</td><td><a href="tel:01713394408">0171 3394408</a></td></tr>
    </tbody>
</table>