<table>
    <tbody>
    <tr><td>Datum</td><td>{{date}}</td></tr>
    <tr><td>Uhrzeit</td><td>{{startTime}} - {{endTime}}</td></tr>
    <tr><td>Ortsteile</td><td>{{districtsStr}}</td></tr>
    </tbody>
</table>
<p>
    So können Sie sie/ihn erreichen:
</p>
<table>
    <tbody>
    <tr><td>E-Mail</td><td><a href="mailto:{{createdForEmail}}">{{createdForEmail}}</a></td></tr>
    <tr><td>Telefonnummer</td><td><a href="tel:{{createdForPhone}}">{{createdForPhone}}</a></td></tr>
    </tbody>
</table>
