<p>
{{acceptedBy.givenName}} {{acceptedBy.surname}} möchte Ihre Anfrage am {{date}} um {{startTime}} bis {{endTime}} annehmen. So können Sie sie/ihn erreichen:
</p>
<table>
    <tbody>
        <tr><td>E-Mail</td><td><a href="mailto:{{acceptedBy.email}}">{{acceptedBy.email}}</td></tr>
        <tr><td>Telefonnummer</td><td><a href="tel:{{acceptedBy.phone}}">{{acceptedBy.phone}}</td></tr>
    </tbody>
</table>
