<table>
    <tbody>
    <tr><td>Datum</td><td>{{date}}</td></tr>
    <tr><td>Uhrzeit</td><td>{{startTime}} - {{endTime}}</td></tr>
    <tr><td>Ortsteile</td><td>{{districtsStr}}</td></tr>
    </tbody>
</table>

<p>
    So können Sie sie/ihn erreichen:
</p>
<table>
    <tbody>
    <tr><td>E-Mail</td><td><a href="mailto:{{createdForEmail}}">{{createdForEmail}}</td></tr>
    <tr><td>Telefonnummer</td><td><a href="tel:{{createdForPhone}}">{{createdForPhone}}</td></tr>
    </tbody>
</table>

<p>
    Um die Rikscha-Übergabe zu vereinbaren, melden Sie sich bitte unter:
</p>
<table>
    <tbody>
    <tr><td>E-Mail</td><td><a href="mailto:seniorenbeirat.delbrueck@gmail.com">seniorenbeirat.delbrueck@gmail.com</a></td></tr>
    <tr><td>Telefonnummer</td><td><a href="tel:01713394408">0171 3394408</a></td></tr>
    </tbody>
</table>