<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">

    <title>Dasnez</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;900&display=swap" rel="stylesheet">

    <style>
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    html {
      background: #ffffff;
    }

    body {
      color: #02190A;
      font-family: 'Catamaran', sans-serif;
      margin: 0 auto;
      background: transparent url('https://buchung.dasnez.de/assets/rikscha-bg.jpg') no-repeat center;
      background-size: cover;
      min-height: 100vh;
    }

    a {
      color: #02190A;
      font-size: 14px;
    }

    select:focus,
    select:active {
      color: #ffffff;
    }

    button {
      background-color: #ffffff;
      letter-spacing: .2px;
      font-size: 14px;
      padding: 20px;
      width: 100%;
      display: block;
      position: relative;
      color: #02190A;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 4px;
      border: none;
      padding: 15px 30px;
    }

    .wrapper {
      padding: 24px;
    }

    .logo_wrapper {
      text-align: center;
      padding: 40px 0;
    }

    .logo_wrapper img {
      max-width: 300px;
    }

    .card {
      margin: 0 auto;
      max-width: 400px;
      background-color: #ffffff;
      border-radius: 4px;
      padding: 32px 24px 100px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 8px 16px -5px rgba(2, 25, 10, .2), 0 16px 32px 10px rgba(2, 25, 10, .1)
    }

    .card__content {
      position: relative;
      z-index: 2;
    }
  </style>
</head>

<body>
<div class="wrapper">

    <div class="card">

        <div class="card__content">
            <div class="logo_wrapper">
                <img src="https://dasnez.de/assets/images/dasnez_logo.png" alt="Dasnez Logo">
            </div>

            <h2>Angebot bestätigt</h2>
            <p><br />
                Sie haben das Angebot bestätigt. </p>
            <p>Als nächstes sollten Sie den Anbieter kontaktieren und ein Treffen vereinbaren.</p>
            <i>Ihr Dasnez-Team</i>
        </div>
    </div>
</div>

</body>

</html>